@charset "UTF-8";

.conteiner{
    background-color: bisque;
    display: flex;
    flex-flow: row nowrap;
}
.item{
    background-color: blueviolet;
    border: 1px solid black;
    text-align: center;
}
#i1{
    flex: 1 0 200px;
}
#i2{
    flex: 1 1 200px;
}
#i3{
    flex: 1 8 200px;
}