@charset "utf-8";
*{
    margin: 0px;
}
section{
    width: 500px;
    height: 500px;
    margin: auto;
}
header>h1{
    text-align: center;
    padding: 30px;
    background-color: black;
    color: white;
}
a{
    position: relative;
    display: block;
    padding: 5px;
    left: 30px;
    width: 100px;
    text-align: center;
    border-radius: 20px;
}
nav{
    position: sticky;
    top:0;
}
.teste{
    scroll-target-group:auto;
}
a:target-current{
    background-color: rgb(96, 245, 220);
}