@charset "UTF-8";

.conteiner{
    background-color: bisque;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    height: 300px;
}
.item{
    background-color: blueviolet;
    border: 1px solid black;
    flex-basis: 100px;
}
