@charset "UTF-8";
.conteiner{
    background-color: aqua;
    display: flex;
    flex-direction: ;
}
.item{
    background-color: blueviolet;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}