@charset "UTF-8";

/*todas as mídias*/
/*typical device breakpoint*/

/*Tipical da*/
/*
telas pequenas ate 600px
celular: de 600px ate 768px
tablet: de 768px ate 992px
desktop: de 992px ate 1200
grandes telas acima de 1200
*/
@media print {
    body{
        background-image: url(../imagens/back-print.jpg);
        font-family: 'Courier New', Courier, monospace;
    }
    #phone{ display:none;}
    #tablet{ display: none;}
    #pc{ display: none;}
    #tv{display: none;}
    #impressora{display: block;} 
}
@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone{ display: none;}
    #tablet{ display: block;}
    #pc{ display: none;}
    #tv{display: none;}
    #impressora{display: none;}
}
@media screen and (min-width:992px) and (max-width:1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone{ display: none;}
    #tablet{ display: none;}
    #pc{ display: block;}
    #tv{display: none;}
    #impressora{display: none;}   
}
@media screen and (min-width:1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #phone{ display: none;}
    #tablet{ display: none;}
    #pc{ display: none;}
    #tv{display: block;}
    #impressora{display: none;}    
}