@charset "utf-8";
@media screen and (min-width: 600px) and (max-width: 768px){
    svg#imenu{
        display: none;
    }
    ul{
        display: contents;
    }
    #menu1>li{
        width: 80px;
        display: inline-block;
        left: 5%;  
    }
}